header{
    background-color: #BBBBBB;
    
}
.caja{
    width: 940px; /**1280px es lo comun de las pantallas es decir el aprox del 70% de la pagina*/
    position: relative; /*Relativo respecto a su posicion original, los elementos debajo de el respetaran su posicion, es decir siguien el flujo del enmaquetado */
    margin: 0 auto; /**Centrado a */
}
nav{
    position: absolute; /**Para forzar una posición en el contenedor del objeto p.e situar el objeto a la esq superior derecha top:0 right: 0 los elementos debajo de el no respetaran su posicion original es decir este elemento se pondra "delante del texto"*/
    top: 110px; /**Basado que lo queremos aprox a la mitad de la altura de el logo principal (250px) */
    right: 0; 

}
nav li{
    display: inline; /*Que ocupe solo el tamaño de su contenido*/
    margin: 0 0 0 15px;
}
nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

.productos{
    width: 940px; /*Adaptandose a los pixeles de las pantallas*/
    margin: 0 auto;
    padding: 50px;
}

.productos li{
    display: inline-block; /*Formato horizontal y ocupando unicamente espacio de su contenido*/
    text-align: center;
    width: 30%; /*Que cada elemento ocupe 1/3 del espacio 30%*3=90% */
    vertical-align: top; /*Alineacion de todos los elementos a la misma altura */
    margin: 0 1.5%; /* 94.5% de los 940px de width*/
    padding: 30px 20px;
    box-sizing: border-box; /*Nos ayuda a no sobrepasar los limites con padding */
    /*border-color: #000000;
    border-style: solid;
    border-width: 2px;*/
    border: 2px solid #000000;
    border-radius: 10px;

    
}
.productos h2{
    font-size: 30px;
    font-weight: bold;
   
}
.producto-descripcion{
    font-size: 18px;

}
.producto-precio{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

footer{
    text-align: center;
    background: url(./imag/productos/bg.jpg); /*Automaticamente background repite la imagen de tal forma que ocupe todo el fondo del espacio*/
    padding: 40px;
}

.copyright{
    color: whitesmoke;
    font-size: 13px;
    margin: 20px;
}

/*TODO I N T E R A C T I V I D A D */

/*! hover interaccion al pasar el cursor*/

nav a:hover{
    color: #c78c19;

}

.productos li:hover{
    border-color: #c78c19;
}

.productos li:hover h2{
    font-size: 33px;
}

/*! active interaccion al hacer click*/
.productos li:active{
    border-color: green;
}