body{
    font-family: 'Montserrat', sans-serif;
}

/*!BARRA DE NAVEGACION */

header{
    background-color: #BBBBBB;
    
}
.caja{
    width: 940px; /**1280px es lo comun de las pantallas es decir el aprox del 70% de la pagina*/
    position: relative; /*Relativo respecto a su posicion original, los elementos debajo de el respetaran su posicion, es decir siguien el flujo del enmaquetado */
    margin: 0 auto; /**Centrado a */
}
nav{
    position: absolute; /**Para forzar una posición en el contenedor del objeto p.e situar el objeto a la esq superior derecha top:0 right: 0 los elementos debajo de el no respetaran su posicion original es decir este elemento se pondra "delante del texto"*/
    top: 110px; /**Basado que lo queremos aprox a la mitad de la altura de el logo principal (250px) */
    right: 0; 

}
nav li{
    display: inline; /*Que ocupe solo el tamaño de su contenido*/
    margin: 0 0 0 15px;
}
nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
/*! FIN BARRA DE NAVEGACION */

/* H O M E */

.banner{
    width:100% ;
}
.principal{
    padding: 3em;
   background:#FEFEFE;
   /*width: 940px;
   margin: 0 auto;*/

}

.titulo-principal{
    text-align: center;
    font-size: 2em; /*2 veces el tamaño de fuente padron)*/
    font-weight: bold;
    margin: 0 0 2em;
    clear: left;
}

.utensilios{
    width: 180px; 
    float: left; /*Funciona como "en linea con el texto" deja que el contenido siguiente al elemeto se acomode segun la posicion que le indicamos en este caso nuestro elemento se posiciono a la izq por lo tanto lo demas se acomodara a la derecha respetando su espacio"*/
    margin: 0 20px 20px 0;
    border-radius: 3px;
}

.principal p{
    margin: 0 0 1em;
    line-height: 1.2;
    text-align: justify;
}

.principal strong{
    font-weight: bold;
}

.principal em{
    font-style: italic;
}

.contenido-principal{
    width: 940px;
    margin: 0 auto;
}

.mapa{
    padding: 3em 0;
    background: linear-gradient(#FEFEFE,#888888 );
}

.mapa p{
    margin: 0 0 1em;
    text-align: center;
}

.mapa-contenido{
    width: 940px;
    margin: 0 auto;
}

.diferenciales{
    padding: 3em 0;
    background: #888888;
}

.contenido-diferenciales{
    width: 640px;
    margin: 0 auto;
    
}

.lista-diferenciales{
    width: 40%;
    display: inline-block;
    vertical-align:top;
    padding-top: 2.5em;
}

.items{
    line-height: 1.5; /*Interespaciado sin usar padding*/
}
.items::before{
    content: "‣";
    margin-right: 10px;
}

/* .items:first-child{
    font-weight: bold;
} Para modificar el primer elemento de items*/

.imagen-diferenciales{
    width: 60%;
    border-radius: 5px;
}
.video{
    
    padding: 3em 0;
    background: linear-gradient(#888888 65%, rgba(0, 0, 0, 0.69) );

}

.contenido-video{
    width: 560px;
    margin: 1em auto;
}





/*FIN    H O M E */

/* P R O D U C T O S */


.productos{
    width: 940px; /*Adaptandose a los pixeles de las pantallas*/
    margin: 0 auto;
    padding: 50px;
}

.productos li{
    display: inline-block; /*Formato horizontal y ocupando unicamente espacio de su contenido*/
    text-align: center;
    width: 30%; /*Que cada elemento ocupe 1/3 del espacio 30%*3=90% */
    vertical-align: top; /*Alineacion de todos los elementos a la misma altura */
    margin: 0 1.5%; /* 94.5% de los 940px de width*/
    padding: 30px 20px;
    box-sizing: border-box; /*Nos ayuda a no sobrepasar los limites con padding */
    /*border-color: #000000;
    border-style: solid;
    border-width: 2px;*/
    border: 2px solid #000000;
    border-radius: 10px;

    
}
.productos h2{
    font-size: 30px;
    font-weight: bold;
   
}
.producto-descripcion{
    font-size: 18px;

}
.producto-precio{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

/* FIN P R O D U C T O S */


/*TODO C O N T A C T O */

form{
   
    width: 940px;
    margin: 4em auto;
}

form label,  form legend{
    display: block; /*! formularios por default estan en display: inline (forma horizontal) de esta forma pasamos vertical*/
    font-size: 20px;
    margin: 0  0 10px;
    font-weight: ;

}

label:not(.option-label),legend{
    font-weight: bold;
} /*Todos los titulos del formulario excepto los de opciones estan en negritas*/

fieldset{
    margin: 1em 0 1em;
}

.input-padron{
    display: block; /*! formularios por default estan en display: inline (forma horizontal) de esta forma pasamos vertical*/
    margin: 0 0 20px;
    padding:10px 25px ;
    width: 50%;
}

select{
    padding: 0.2em;
    font-size: 18px;
}

.checkbox{
    margin: 20px 0;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: orange;
    border: none;
    border-radius: 5px;
}
.tabla-horario{
    width: 940px;
    margin: 0 auto;
}

table{
    margin: 40px 40px;
}

thead{
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th{
    border: 1px solid black;
    padding: 8px 15px;
}


/*TODO F I N        C O N T A C T O */


/*!F O O T E R */ 

footer{
    text-align: center;
    background: url(./imag/productos/bg.jpg); /*Automaticamente background repite la imagen de tal forma que ocupe todo el fondo del espacio*/
    padding: 40px;
}

.copyright{
    color: whitesmoke;
    font-size: 13px;
    margin: 20px;
}
/*!FIN F O O T E R */ 

/*TODO I N T E R A C T I V I D A D */

/*! hover interaccion al pasar el cursor*/

nav a:hover{
    color: #c78c19;

}

.productos li:hover{
    border-color: #c78c19;
}

.productos li:hover h2{
    font-size: 33px;
}

/*! active interaccion al hacer click*/
.productos li:active{
    border-color: green;
}

.enviar:hover{
    background: darkorange;
    
    transform: scale(1.1);
    transition: 1s all;
    /*transition: 1s background; para que el cambio de color sea lento*/
}

.enviar:active{
    background: gray;
    
}

/*TODO FIN I N T E R A C T I V I D A D */